<% if type == "setting" %>
  <% record = setting %>
  <% url = record.persisted? ? master_datum_path(record, type: "setting") : master_data_path(type: "setting") %>
  <% method = record.persisted? ? :patch : :post %>
  
  <%= form_with model: record, url: url, method: method, data: { turbo: false }, class: "mx-auto w-50" do |f| %>
    <div class="mb-3">
      <%= f.label :name, "設定名" %>
      <%= f.text_field :name, class: "form-control", placeholder: "20文字以内で入力してください" %>
    </div>

    <div class="mb-3">
      <%= f.label :pos_numbers, "POS番号" %>
      <%= f.text_field :pos_numbers, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :price, "価格" %>
      <div class="input-group">
        <%= f.number_field :price, class: "form-control" %>
        <span class="input-group-text">円（税込）</span>
      </div>
    </div>

    <div class="text-end">
      <%= f.submit (record.persisted? ? "更新する" : "登録する"), class: "btn btn-primary px-4" %>
    </div>
  <% end %>

<% elsif type == "product" %>
  <% record = product %>
  <% url = record.persisted? ? master_datum_path(record, type: "product") : master_data_path(type: "product") %>
  <% method = record.persisted? ? :patch : :post %>
  
  <%= form_with model: record, url: url, method: method, data: { turbo: false }, class: "mx-auto w-50" do |f| %>
    <div class="mb-3">
      <%= f.label :name, "製品名" %>
      <%= f.text_field :name, class: "form-control", placeholder: "20文字以内で入力してください" %>
    </div>

    <div class="mb-3">
      <%= f.label :price, "価格" %>
      <div class="input-group">
        <%= f.number_field :price, class: "form-control" %>
        <span class="input-group-text">円（税込）</span>
      </div>
    </div>

    <div class="text-end">
      <%= f.submit (record.persisted? ? "更新する" : "登録する"), class: "btn btn-primary px-4" %>
    </div>
  <% end %>
<% end %>